body {
	background-image: url("../images/grid.png");
	background-repeat: repeat;
}
p {
	margin: 20px 0px;
}
img .pull-left {
	margin-right: 20px;
	margin-bottom: 10px;
}
#navbar {
	border:transparent;
	margin-bottom:0px;
}

@media screen and (max-width: 980px) {
  /* The body's bg color will be #333 */
  .img-responsive {
    max-width: 25%;
    min-width: 100px;
  }
}	

@media screen and (max-width: 768px) {
  /* The body's bg color will be #333 */
  body {
  }
  /* The wrapper's width will be 600px */
  #mainContent, #headerDiv {
    width: 500px;
  }
/*  #connect, #navLinks {
  	float: left;
  	width: 100%;*/
  }
}

	/*Start of Media Queries*/
@media screen and (max-width: 640px) {
  /* The body's bg color will be #333 */
  body {
  }
  /* The wrapper's width will be 600px */
  #mainContent, #headerDiv {
    width: 500px;
  }
  /*#connect {
  	float: left;
  	width; 100%*/
  }
  #navLinks {
  	width: 100%;
  }
  header {
  	position:static;
  }
}